<%= simple_form_for([@commentable.venue, @commentable, @comment], :html => { :class => 'mobile_simple_form' }) do |f| %>
  <%= f.error_notification %>
  
  <div data-role="fieldcontain">
    <%= f.input :content, :label => false %>
  </div>
  
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
