<div id="user_information">
  <div id="avatar">
    <%= image_tag "blank_avatar.png" %>
  </div>
  <div id="information">
    <h1><%= user.full_name %></h1>
    <h2><%= user.location %></h2>
  
    <div id="separator"></div>
  
    <ul id="stats">
      <li>
        Friends<strong><%= user.accepted_friendships.size %></strong>
      </li>
      <li>
        Visited places<strong>300</strong>
      </li>
      <li style="border-right:none">
        Want to go to<strong>1000</strong>
      </li>
    </ul>
  </div>
</div>