<% title "weegoo - #{t('views.main.about')}" %>

<h1 class="left_title"><%=t 'views.main.about_weegoo' %></h1>
<p class="about_text"><%= raw(t 'views.main.about_weegoo_text') %></p>

<h1 class="left_title"><%=t 'views.main.open_source' %></h1>
<p class="about_text"><%= raw(t 'views.main.open_source_text') %></p>