<h1>Got a good reason for taking the easy way out.</h1>
<p>
<%= image_tag "logo.png", :style => "width: 70px;" %> it's a location aware social network, where you can find friends and share venues and events with them.
</p>
