<li class="media_file">
  <%= link_to image_tag("blank_avatar.png", :style => "width: 128px"), "#media_file_#{media_file.id}" %>
  
  <span id="<%= "media_file_#{media_file.id}" %>">
    <%= image_tag "blank_avatar.png" %>
  </span>
</li>