<%= form_tag venues_path, :method => :get, 'data-ajax' => false do %>
  <div data-role="fieldcontain">
    <%= label_tag t('views.common.search') %>
    <%= text_field_tag :query, params[:query] %>
  </div>
  
  <div data-role="fieldcontain">
    <%= submit_tag t('views.common.search') %>
  </div>
<% end %>
