ul#activities_list
{
  list-style: none;
  padding: 0;
}

ul#activities_list li.activity
{
  padding: 5px 0;
  border-top: 1px solid #ddd;
  position: relative;
  padding-left: 30px !important;
}

ul#activities_list li.activity:last-child
{
  border-bottom: 1px solid #ddd;
}

ul#activities_list li.activity .information
{
  font-size: 10px;
  color: #888;
}

li.accepted_friendship
{
  background: url(../images/user_add.png) no-repeat 0 5px;
}

li.been_at
{
  background: url(../images/map_add.png) no-repeat 0 5px;
}

li.dont_want_to_go
{
  background: url(../images/heart_delete.png) no-repeat 0 5px;
}

li.event_created,
li.venue_created
{
  background: url(../images/map.png) no-repeat 0 5px;
}

li.media_file_comment_created
{
  background: url(../images/comments.png) no-repeat 0 5px;
}

li.media_file_created
{
  background: url(../images/picture.png) no-repeat 0 5px;
}

li.not_been_at
{
  background: url(../images/map_delete.png) no-repeat 0 5px;
}

li.point_of_interest_comment_created
{
  background: url(../images/comments.png) no-repeat 0 5px;
}

li.want_to_go_to
{
  background: url(../images/heart.png) no-repeat 0 5px;
}
