body
{
  margin: 0;
  margin-top: -13px;
}

.narrow
{
  width: 950px;
  margin: auto;
}

#header
{
  border-bottom: 1px solid #dbdbdb;
}

#header #user_menu
{
  float: right;
  padding-top: 13px;
}

#header h1
{
  float: left;
  margin: 0 20px 0 0 !important;
  padding-top: 10px;
}

#header ul#main_menu
{
  list-style: none;
  padding: 0;
  padding-top: 13px;
}

#header ul#main_menu li
{
  display: inline;
  margin-right: 30px;
}

#content
{
}

#content h1#slogan
{
  text-align: center;
  margin: 50px 0;
}

#content #main_images
{
  margin: 50px 0;
}

#content #main_images #left
{
  float: left;
}

#content #main_images #right
{
  float: right;
}

#content #main_images #spacer
{
  clear: both;
}