/*****************
 * common styles *
 *****************/

/*
html
{
  background-color: #4D5256;
}
*/

body
{
  margin: 0;
}

img
{
  border: none;
}

.narrow
{
  width: 950px;
  margin: 0 auto;
}

.ruler
{
  border-bottom: 1px solid #ddd;
  clear: both;
  margin: 15px 0;
  overflow: hidden;
}

.columns
{
  overflow: hidden;
}

.left
{
  float: left;
  width: 450px;
}

.right
{
  float: right;
  width: 450px;
}

#content
{
  min-height: 500px;
}

.button
{
  color: #333 !important;
}

.button:hover
{
  color: #fff !important;
}

.back
{
  margin-top: 10px;
}

.empty
{
  margin: 10px 0;
}

.section
{
  margin-bottom: 20px;
}

/**********
 * header *
 **********/

#header
{
  background-color: #4D5256;
}

#header a
{
  color: #dadada;
}

#header a#logo
{
  margin-right: 15px;
}

#header a#logo img
{
  margin: 10px 0 6px 0;
  vertical-align: middle;
}

#header ul#main_menu
{
  display: inline;
  list-style: none;
  padding: 0;
}

#header ul#main_menu li
{
  display: inline;
  margin-left: 15px;
}

/**********
 * footer *
 **********/

#footer
{
  background-color: #f6f6f6;
  margin: 20px 0;
  padding: 20px 0;
  font-size: 11px;
  color: #5E6469;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#footer .left ul
{
  font-size: 11px;
  margin: 0;
  padding: 0;
}

#footer .left ul li
{
  display: inline;
  margin-right: 15px;
}

#footer .right
{
  text-align: right;
}

/****************************
 * current_user_information *
 ****************************/

#current_user
{
  float: right;
  margin-top: 18px;
}

#current_user #avatar
{
  font-weight: bold;
  display: inline;
  margin-right: 6px;
}

#current_user #avatar img
{
  vertical-align: middle;
  margin-right: 2px;
}

#current_user #avatar a
{
  color: #fff;
}

#current_user ul#actions,
#current_user ul#signed_out_actions
{
  list-style: none;
  padding: 0;
  display: inline;
}

#current_user ul#actions li,
#current_user ul#signed_out_actions li
{
  display: inline;
  padding: 0 6px 0 6px;
  border-left: 1px solid #bbb;
}

#current_user ul#actions li:last-child,
#current_user ul#signed_out_actions li:last-child
{
  padding-right: 0;
}

#current_user ul#signed_out_actions li:first-child
{
  border-left: none;
}

/**********
 * narrow *
 **********/

.narrow h1
{
  margin-top: 0px;
  font-size: 18px;
}

.narrow h2
{
  font-size: 16px;
}

/***************
 * left column *
 ***************/

.left h1
{
  margin-top: 0;
}

.left h2
{
  margin-top: 0px;
}

/****************
 * right column *
 ****************/

.right h1
{
  margin-top: 0;
}

.right h2
{
  margin-top: 0px;
}

/****/

.search h1
{
  margin-top: 20px;
}