body
{
  margin: 0;
  margin-top: -13px;
}

.narrow
{
  width: 950px;
  margin: auto;
}

#header
{
  border-bottom: 1px solid #dbdbdb;
}

#header #user_menu
{
  float: right;
  padding-top: 13px;
}

#header h1
{
  float: left;
  margin: 0 20px 0 0 !important;
  padding-top: 10px;
}

#header ul#main_menu
{
  list-style: none;
  padding: 0;
  padding-top: 13px;
}

#header ul#main_menu li
{
  display: inline;
  margin-right: 30px;
}

#content
{
  margin-top: 20px;
}

#content h1#slogan
{
  text-align: center;
  margin: 50px 0;
}

#content #main_images
{
  margin: 50px 0;
}

#content #main_images #left
{
  float: left;
}

#content #main_images #right
{
  float: right;
}

#content #main_images #spacer
{
  clear: both;
}

#content ul#search_results
{
  list-style: none;
  padding: 0;
}

#content ul#search_results li
{
  margin: 10px 0;
}

#content #empty_search_results
{
  margin-top: 10px;
}

#content #left_column,
#content #right_column
{
  float: left;
}

#content #left_column
{
  width: 580px;
  margin-right: 10px;
}

#content #right_column
{
  width: 350px;
  margin-left: 10px;
}

#user_information
{
  border: 1px solid #cccccc;
  overflow: hidden;
  padding: 10px;
}

#user_information #avatar
{
  float: left;
  margin-right: 10px;
}

#user_information #avatar img
{
  background-color: #FFFFFF;
}

#user_information #information
{
  background-color: #E6E6E6;
  float: left;
  padding: 10px;
  width: 388px;
  height: 108px;
}

#user_information #information h1
{
  margin: 0;
}

#user_information #information h1 a
{
  font-size: 20px;
}

#user_information #information h2
{
  color: #666666;
  font-size: 13px;
  margin: 3px 0 0 0;
  font-weight: normal;
}

#user_information #information ul
{
  float: left;
  width: 388px;
  margin: 0;
  padding: 0;
  list-style: none;
}

#user_information #information ul li
{
  border-right: 1px solid #dedede;
  float: left;
  font-size: 8.5px;
  margin: 10px 0 0 0;
  padding: 0 20px 0 10px;
  position: relative;
  height: 60px;
}

#user_information #information ul li span
{
  color: #39B2E5;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.box
{
  border: 1px solid #cccccc;
  margin-bottom: 20px;
}

.box .header
{
  font-weight: bold;
  padding: 8px 10px;
  border-bottom: 1px solid #cccccc;
}

.box .header .show_all
{
  float: right;
  font-size: 10px;
}

.box .content
{
  padding: 8px 10px;
}

.box .content ul#friendship_requests,
.box .content ul#friends
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.box .content ul#friendship_requests li,
.box .content ul#friends li
{
  height: 32px;
  margin: 5px 0;
}

.box .content ul#friendship_requests li .user_avatar,
.box .content ul#friendship_requests li .user_full_name,
.box .content ul#friends li .user_avatar,
.box .content ul#friends li .user_full_name
{
  float: left;
}

.box .content ul#friendship_requests li .user_full_name,
.box .content ul#friends li .user_full_name
{
  margin-top: 6px;
  margin-left: 5px;
}

.box .content ul#friendship_requests li .actions
{
  margin-top: 6px;
  float: right;
}