button.g-button,
a.g-button,
input[type=submit].g-button
{
  padding: 6px 10px;
  -webkit-border-radius: 2px 2px;
  border: solid 1px rgb(153, 153, 153);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
  color: #333;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
  line-height: 1;
}

button.g-button:hover,
a.g-button:hover,
input[type=submit].g-button:hover
{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(248, 248, 248)), to(rgb(221, 221, 221)));
  text-decoration: none;
}

button.g-button:active,
a.g-button:active,
input[type=submit].g-button:active
{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(204, 204, 204)), to(rgb(221, 221, 221)));
}

.g-button.large
{
  padding: 12px 20px;
  font-size: 22px;
  font-weight: bold;
}

.g-button.scaled
{
  -webkit-transform: scale(2);
  -webkit-transform-origin: bottom left;
}