#sign_in_form,
#sign_up_form,
#edit_profile_form
{
  
}

#sign_in_form h1,
#sign_up_form h1,
#edit_profile_form h1
{
  margin: 40px 0;
  font-size: 36px;
  font-weight: 300;
}

#sign_in_form h2,
#sign_up_form h2,
#edit_profile_form h2
{
  font-weight: 300;
  margin-top: 40px;
}

#sign_in_form .inputs label,
#sign_up_form .inputs label,
#edit_profile_form .inputs label
{
  font-size: 14px;
  margin-top: 6px;
}

#sign_in_form input[type='text'],
#sign_up_form input[type='text'],
#edit_profile_form input[type='text'],
#sign_in_form input[type='password'],
#sign_up_form input[type='password'],
#edit_profile_form input[type='password'],
#sign_in_form input[type='email'],
#sign_up_form input[type='email'],
#edit_profile_form input[type='email']
{
  width: 350px;
  font-size: 18px;
}

h1#third_party_authentication
{
  margin: 30px 0;
}

#authentication_applications
{
  margin-bottom: 30px;
}