#flash
{
  margin: 8px 0;
}

.alert,
.notice
{
  clear: both;
  padding: 5px 8px;
  margin: 10px 0;
}

.alert
{
  background-color: #fcc;
  border: solid 1px #c66;
}

.notice
{
  background-color: #cfc;
  border: solid 1px #6c6;
}