#content h1.title
{
  text-align: center;
  margin: 50px 0;
  font-size: 30px;
  line-height: 36px;
}

#content h1.left_title
{
  margin: 50px 0;
  font-size: 30px;
}

#content #features
{
  margin: 50px 0;
}

#content #features h2
{
}

#content #features #find_friends
{
  float: left;
}

#content #features #share_venues_and_events
{
  float: right;
}

#content #features #spacer
{
  clear: both;
}

#content #sign_up
{
  font-size: 20px;
}

#content #sign_up img
{
  vertical-align: middle;
}

#content p.about_text
{
  font-size: 14px;
}