/********************
 * media_files_list *
 ********************/

ul#media_files_list
{
  list-style: none;
  padding: 0;
}

ul#media_files_list li.media_file
{
  display: inline;
  margin-right: 20px;
}

ul#media_files_list li.media_file img
{
  border: 1px solid #ddd;
  padding: 2px;
}

#zoom_content .media_file
{
  position: relative;
}

#zoom_content .media_file .user_info a
{
  font-weight: bold;
}

#zoom_content .media_file .user_info a img
{
  padding: 1px;
  border: 1px solid #ddd;
  vertical-align: middle;
}

#zoom_content .media_file .user_info em
{
  font-style: normal;
  color: #aaa;
  font-weight: normal;
}

#zoom_content .media_file .media_file_title
{
  margin-top: 5px;
  margin-left: 32px;
  font-size: 14px;
}

#zoom_content .media_file .actions
{
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  margin-bottom: 0px;
}