#media_file
{
  text-align: center;
}

#media_file img
{
  border: 1px solid #ddd;
  padding: 2px;
}

/****************************
 * media_file_comments_list *
 ****************************/

ul#media_file_comments_list
{
  list-style: none;
  padding: 0;
}

ul#media_file_comments_list li.media_file_comment
{
  padding: 5px 0;
  border-top: 1px solid #ddd;
  position: relative;
}

ul#media_file_comments_list li.media_file_comment:last-child
{
  border-bottom: 1px solid #ddd;
}

ul#media_file_comments_list li.media_file_comment a
{
  font-weight: bold;
}

ul#media_file_comments_list li.media_file_comment a img
{
  padding: 1px;
  border: 1px solid #ddd;
  vertical-align: middle;
}

ul#media_file_comments_list li.media_file_comment em
{
  font-style: normal;
  color: #aaa;
  font-weight: normal;
}

ul#media_file_comments_list li.media_file_comment .comment
{
  margin-left: 32px;
}

ul#media_file_comments_list li.media_file_comment .information
{
  position: absolute;
  top: 9px;
  right: 0;
  font-size: 10px;
  color: #888;
}

ul#media_file_comments_list li.media_file_comment .current_user_img
{
  float: left;
}

ul#media_file_comments_list li.media_file_comment .inputs
{
  margin-left: 32px;
}

ul#media_file_comments_list li.media_file_comment .inputs textarea
{
  width: 900px;
  height: 50px;
}

ul#media_file_comments_list li.media_file_comment .actions
{
  margin: 0;
}

ul#media_file_comments_list li.media_file_comment .actions input[type=submit]
{
  margin-left: 32px;
}