/*********************************
 * point_of_interest_information *
 *********************************/

#point_of_interest_information
{
  margin-bottom: 20px;
  overflow: hidden;
  
  background-color: #f5f5f5;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 0;
}

#point_of_interest_information h1#avatar
{
  color: #333;
  margin: 0;
}

#point_of_interest_information h1#avatar img
{
  vertical-align: middle;
  padding: 2px;
  border: 1px solid #ddd;
}

#point_of_interest_information h1#avatar em
{
  font-style: normal;
  color: #aaa;
  font-weight: normal;
}

#point_of_interest_information #information dl dt
{
  color: #999;
  float: left;
  margin: 0px;
  width: 115px;
}

#point_of_interest_information #information dl dd
{
  margin: 0px;
}

#point_of_interest_information ul#stats
{
  padding: 0;
  list-style: none;
}

#point_of_interest_information ul#stats li
{
  float: left;
  margin-right: 30px;
}

#point_of_interest_information ul#stats li a:hover,
#point_of_interest_information ul#stats li a:hover *
{
  text-decoration: none;
  color: #4183C4;
}

#point_of_interest_information ul#stats li a strong
{
  color: #000;
  font-size: 36px;
  font-weight: bold;
}

#point_of_interest_information ul#stats li a span
{
  color: #999;
  display: block;
  font-size: 11px;
  width: 80px;
}

/***************************
 * points_of_interest_list *
 ***************************/

ul#points_of_interest_list
{
  list-style: none;
  padding: 0;
}

ul#points_of_interest_list li.point_of_interest
{
  padding: 5px 0;
  border-top: 1px solid #ddd;
  position: relative;
}

ul#points_of_interest_list li.point_of_interest:last-child
{
  border-bottom: 1px solid #ddd;
}

ul#points_of_interest_list li.point_of_interest a
{
  font-weight: bold;
}

ul#points_of_interest_list li.point_of_interest a img
{
  padding: 1px;
  border: 1px solid #ddd;
  vertical-align: middle;
}

ul#points_of_interest_list li.point_of_interest .actions
{
  position: absolute;
  top: 7px;
  right: 0;
}

ul#points_of_interest_list li.point_of_interest .actions .g-button
{
  font-size: 10px;
}