/**************
 * users_list *
 **************/

ul#users_list,
ul.users_list
{
  list-style: none;
  padding: 0;
}

ul#users_list li.user,
ul.users_list li.user
{
  padding: 5px 0;
  border-top: 1px solid #ddd;
  position: relative;
}

ul#users_list li.user:last-child,
ul.users_list li.user:last-child
{
  border-bottom: 1px solid #ddd;
}

ul#users_list li.user a,
ul.users_list li.user a
{
  font-weight: bold;
}

ul#users_list li.user a img,
ul.users_list li.user a img
{
  padding: 1px;
  border: 1px solid #ddd;
  vertical-align: middle;
}

ul#users_list li.user em,
ul.users_list li.user em
{
  font-style: normal;
  color: #aaa;
  font-weight: normal;
}

ul#users_list li.user a.more_info,
ul.users_list li.user a.more_info
{
  font-weight: normal;
}

ul#users_list li.user .user_info,
ul.users_list li.user .user_info
{
  display: none;
  margin-left: 32px;
}

ul#users_list li.user .user_info ul.stats,
ul.users_list li.user .user_info ul.stats
{
  list-style: none;
  padding: 0;
}

ul#users_list li.user .user_info ul.stats li,
ul.users_list li.user .user_info ul.stats li
{
  display: inline;
  margin-right: 10px;
}

ul#users_list li.user .user_info ul.stats li a,
ul.users_list li.user .user_info ul.stats li a
{
  font-weight: normal;
}

ul#users_list li.user .actions,
ul.users_list li.user .actions
{
  position: absolute;
  top: 7px;
  right: 0;
}

ul#users_list li.user .actions a,
ul.users_list li.user .actions a
{
  font-weight: normal;
}

ul#users_list li.user .actions_response,
ul.users_list li.user .actions_response
{
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 10px;
}

/********************
 * user_information *
 ********************/

#user_information
{
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f3f3f3;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 0;
}

#user_information h1#avatar
{
  color: #333;
  margin: 0;
}

#user_information h1#avatar img
{
  vertical-align: middle;
  padding: 2px;
  border: 1px solid #ddd;
}

#user_information h1#avatar em
{
  font-style: normal;
  color: #aaa;
  font-weight: normal;
}

#user_information #information dl dt
{
  color: #999;
  float: left;
  margin: 0px;
  width: 115px;
}

#user_information #information dl dd
{
  margin: 0px;
}

#user_information ul#stats
{
  padding: 0;
  list-style: none;
}

#user_information ul#stats li
{
  float: left;
  margin-right: 20px;
}

#user_information ul#stats li a:hover,
#user_information ul#stats li a:hover *
{
  text-decoration: none;
  color: #2d76b9;
}

#user_information ul#stats li a strong
{
  color: #000;
  font-size: 26px;
  font-weight: bold;
}

#user_information ul#stats li a span
{
  color: #999;
  display: block;
  font-size: 11px;
}

#user_information #mutual_friends
{
  clear: both;
  margin-top: 80px;
}

#user_information #mutual_friends div
{
  font-weight: bold;
}

#user_information #mutual_friends ul#avatars
{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 6px;
}

#user_information #mutual_friends ul#avatars li
{
  display: inline;
}

#user_information #mutual_friends ul#avatars li a img
{
  padding: 1px;
  border: 1px solid #ddd;
}

/*******************
 * authentications *
 *******************/

ul#authentications
{
  list-style: none;
  padding: 0;
  font-size: 14px;
}

ul#authentications li img
{
  vertical-align: middle;
}