<li class="authentication">
  <%= image_tag "#{authentication.provider}_32.png" %>
  <%= authentication.provider %>
  
  <div class="actions">
    <%= negative_trash_button_link_to t('views.scaffold.delete'), delete_user_authentication_path(current_user, authentication), :confirm => 'Are you sure?', :method => :delete %>
  </div>
    
</li>