<% title "#{current_user.full_name}'s connections" %>

<%= render :partial => "users/user_information", :locals => { :user => current_user } %>

<h1>Your connections</h1>

<% if @authentications.size > 0 %>
  
  <ul id="authentications_list">
    
    <%= render @authentications %>
    
  </ul>
  
<% else %>
  
  You have no connections!
  
<% end %>