<h1><%=t 'views.users.find_friends' %></h1>

<% if current_user.authentications.empty? %>
  <div>
    <%=t 'views.users.you_dont_have_connections' %>
  </div>
<% else %>
  <% if current_user.authenticates_to?(:facebook) %>
  <% end %>
  
  <% if current_user.authenticates_to?(:twitter) %>    
    
    <%# twitter_friends = current_user.twitter_friends %>
    <%# if twitter_friends.size > 0 %>
      <ul class="users_list">
        <%# current_user.twitter_friends.sample(1).each do |user| %>
          <%#= render :partial => "users/user_desc", :locals => { :user => user, :show_more_info => false } %>
        <%# end %>
      </ul>
      
      <%# if current_user.twitter_friends.size > 1 %>
        <%#= link_to raw(t 'views.users.show_more_friends', :provider => "twitter"), other_application_friends_path(current_user, "twitter") %>
      <%# end %>
    <%# else %>
      <div><%=t 'views.users.no_friends_from_provider', :provider => "twitter" %></div>
    <%# end %>
    
  <% end %>
  
<% end %>

<div style="margin-top: 10px">
  <%= link_to raw(t('views.users.manage_connections')), user_authentications_path %>
</div>