<% if not user.pending_friendships.empty? %>
  
  <div id="friendship_requests">
    <h2>Friendship requests (<%= user.pending_friendships.size %>)</h2>
    
    <span class="show_all">
      <%= link_to "Show all", friendship_requests_path(user) %>
    </span>
    
    <ul>
      <% user.firsts_pending_friendships.each do |friendship| %>
        <li class="friendship_request" id="friendship_<%= friendship.id %>">
          <%= render :partial => "user_desc_small", :locals => { :user => friendship.user_a } %>
        </li>
      <% end %>
    </ul>
  </div>
  
<% end %>