<div class="avatar">
  <%= image_tag gravatar_url(user.email) %>
</div>

<div class="information">
  
  <div class="user_full_name">
    <%= link_to user.full_name, user %>
  </div>

  <ul class="stats">
    <li>
      <span><%= user.accepted_friendships.size %></span> Friends
    </li>
    <li>
      <span>300</span> Visited places
    </li>
    <li style="border-right:none">
      <span>1000</span> places to go
    </li>
  </ul>
  
</div>
