<% if user_signed_in? and current_user != user %>
  
  <div class="actions">
    
    <%= link_to_function raw("More info &darr;"), "$('#user_#{user.id}_info').toggle()" %>
    
    <% if not current_user.is_friend?(user) %> 
      
      <% if not current_user.waiting_for_confirmation?(user) and not user.waiting_for_confirmation?(current_user) %>
        
        <%= link_to "Add as friend", add_as_friend_path(:username => current_user.username, :another_user_username => user.username), :class => "button icon add" %>
        
      <% elsif current_user.waiting_for_confirmation?(user) %>
        
        <%= link_to "Cancel friendship request", cancel_friendship_request_path(:username => current_user.username, :another_user_username => user.username), :class => "button icon trash danger" %>
        
      <% end %>
      
    <% end%>
    
  </div>
  
<% end %>