<% title "#{@user.full_name}'s friends" %>

<%= render :partial => "users/user_information", :locals => { :user => @user } %>

<h1>Friends</h1>

<ul id="users_list">
  <% @accepted_friendships.each do |friendship| %>
    <%= render :partial => "user_desc", :locals => { :user => friendship.friend(@user) } %>
  <% end %>
</ul>

<%= paginate @accepted_friendships %>