<% title "#{@user.full_name}'s friendship requests" %>

<%= render :partial => "users/user_information", :locals => { :user => @user } %>

<h1>Friendship requests</h1>

<ul id="users_list">
  
  <% @pending_friendships.each do |friendship| %>
    
    <%= render :partial => "friendship", :locals => { :user => @user, :friendship => friendship, :friend => friendship.friend(@user) } %>
    
  <% end %>
  
</ul>

<%= paginate @pending_friendships %>