<div id="left_column">
  
  <h1>Friends</h1>
  
  <ul id="users">
    <% @user.accepted_friendships.each do |friendship| %>
      <li class="user">
        <%= render :partial => "user_desc_large", :locals => { :user => friendship.friend(@user) } %>
      </li>
    <% end %>
  </ul>
  
</div>

<div id="right_column">
  
  <%= render :partial => "sidebar", :locals => { :user => @user } %>
  
</div>