<h1>Search people</h1>

<div id="search">
  <%= form_tag users_path, :method => "get" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<% if not @users.empty? %>
  
  <ul id="users">
    
    <%= render @users %>
        
  </ul>
  
<% elsif params[:search] %>
  <div id="empty_search_results">
    No results found
  </div>
<% end %>