<% title "#{@user.full_name}'s places to go" %>

<%= render :partial => "users/user_information", :locals => { :user => @user } %>

<div class="columns">

  <div class="left">
    
    <h1>Places to go</h1>
    
    <ul id="points_of_interest">
      
      <%= render :partial => "points_of_interest/point_of_interest", :collection => @want_to_go_points_of_interest %>
      
    </ul>
    
    <%= paginate @want_to_go_points_of_interest %>
    
  </div>
  
  <div class="right">
    
  </div>

</div>