<% title @user.full_name %>

<%= render :partial => "users/full_user_information", :locals => { :user => @user } %>

<div class="columns">

  <div class="left">
    
    <h1>Recent activity</h1>
    
  </div>
  
  <div class="right">
    
  </div>

</div>