<% title @user.full_name %>

<%= render :partial => "users/full_user_information", :locals => { :user => @user } %>

<div class="columns">

  <div class="left">
    
    <h1>Recent activity</h1>
    
    <ul id="activities_list">
      <% @activities.each do |activity| %>
        <%= render :partial => "activities/#{activity.type.to_s.underscore}", :locals => { :activity => activity, :user => @user } %>
      <% end %>
    </ul>
    
    <%= paginate @activities %>
    
  </div>
  
  <div class="right">
    
  </div>

</div>