<% title "#{@user.full_name}'s visited places" %>

<%= render :partial => "users/user_information", :locals => { :user => @user } %>

<h1>Visited places</h1>

<%= render :partial => "users/filter_form", :locals => { :url => visited_places_path(@user) } %>

<%= render :partial => "points_of_interest/points_of_interest_#{params[:show_as] ? params[:show_as].underscore : "list" }", :locals => { :points_of_interest => @been_points_of_interest } %>