<div id="footer">
  <div class="narrow">
    
    <div class="columns">
      
      <div class="left">
        <ul>
          <!--
          <li><%#= link_to t('views.main.about'), about_path %></li>
          <li><%= link_to t('views.main.contribute'), contribute_path %></li>
          -->
        </ul>
      </div>
    
      <div class="right">
        &copy; 2011 weegoo - Patricio Mac Adden
      </div>
      
    </div>
    
  </div>
</div>
