<div id="footer">
  <div class="narrow">
    
    <div class="columns">
      
      <div class="left">
        <%= link_to t('views.main.about'), about_path %>
      </div>
    
      <div class="right">
        &copy; 2011 weegoo - Patricio Mac Adden
      </div>
      
    </div>
    
  </div>
</div>