<div id="current_user">
  <ul id="signed_out_actions">
    <li><%= link_to t("views.current_user.sign_in"), new_user_session_path %></li>
    <li><%= link_to t("views.current_user.sign_up"), new_user_registration_path %></li>
  </ul>
</div>