<% if user_signed_in? %>
  
  <div class="actions">
    
    <% if not current_user.been_at(point_of_interest) %>
      <%= link_to "Been here", point_of_interest_been_path(point_of_interest), :class => "button icon pin" %>
      
      <% if not current_user.want_to_go_to(point_of_interest) %>
        
        <%= link_to "Want to go", point_of_interest_want_to_go_path(point_of_interest), :class => "button icon like" %>
        
      <% else %>
        
        <%= link_to "Don't want to go", point_of_interest_dont_want_to_go_path(point_of_interest), :class => "button icon like danger" %>
        
      <% end %>
      
    <% else %>
      
      <%= link_to "Not been here", point_of_interest_not_been_path(point_of_interest), :class => "button icon pin danger" %>
      
    <% end %>
    
  </div>
  
<% end %>