<% title "#{t('views.points_of_interest.friends_that_have_been_at')} #{@point_of_interest.name}" %>

<%= render :partial => "points_of_interest/point_of_interest_information", :locals => { :point_of_interest => @point_of_interest } %>

<h1><%=t 'views.points_of_interest.friends_that_been_here' %></h1>

<ul id="users_list">
  <%= render :partial => "users/user_desc", :collection => @users, :as => :user %>
</ul>

<%= paginate @users, :remote => true %>