<% title "People that have been at #{@point_of_interest.name}" %>

<%= render :partial => "points_of_interest/point_of_interest_information", :locals => { :point_of_interest => @point_of_interest } %>

<h1>People that been here</h1>

<ul id="users_list">
  <%= render :partial => "users/user_desc", :collection => @users, :as => :user %>
</ul>

<%= paginate @users, :remote => true %>