<% title "Friends that want to be at #{@point_of_interest.name}" %>

<%= render :partial => "points_of_interest/point_of_interest_information", :locals => { :point_of_interest => @point_of_interest } %>

<h1>Friends that want to be here</h1>

<ul id="users_list">
  <%= render :partial => "users/user_desc", :collection => @users, :as => :user %>
</ul>

<%= paginate @users %>