<li class="activity">
  
  <% if user == activity.user_a %>
    <% first, second = activity.user_a, activity.user_b %>
  <% else %>
    <% first, second = activity.user_b, activity.user_a %>
  <% end %>
  
  <%= link_to first.full_name, first %> and <%= link_to second.full_name, second %> are now friends.
    
  <div class="information">
    <%= activity.created_at.strftime("%d %B at %H:%M") %>
  </div>
  
</li>