<li class="accepted_friendship activity">
  
  <% if user == activity.user_a %>
    <% first, second = activity.user_a, activity.user_b %>
  <% else %>
    <% first, second = activity.user_b, activity.user_a %>
  <% end %>
  
  <%= raw t('views.activities.accepted_friendship', { :first => link_to(first.full_name, first), :second => link_to(second.full_name, second) }) %>
    
  <div class="information">
    <%= activity.created_at.strftime("%d %B at %H:%M") %>
  </div>
  
</li>