<li class="dont_want_to_go activity">
  
  <% if current_user == activity.user_a and current_user == user %>
    <%= raw t('views.activities.you_dont_want_to_go', :point_of_interest => link_to(activity.point_of_interest.name, activity.point_of_interest))  %>
  <% else %>
    <%= raw t('views.activities.dont_want_to_go', { :subject => link_to(activity.user_a.full_name, activity.user_a), :point_of_interest => link_to(activity.point_of_interest.name, activity.point_of_interest) }) %>
  <% end %>
  
  <div class="information">
    <%=l activity.created_at, :format => :activity %>
  </div>
  
</li>