<li class="activity">
  
  <% if current_user == activity.user_a and current_user == user %>
    You don't want to go to <%= link_to activity.point_of_interest.name, activity.point_of_interest %>.
  <% else %>
    <%= link_to activity.user_a.full_name, activity.user_a %> don't wants to go to <%= link_to activity.point_of_interest.name, activity.point_of_interest %>.
  <% end %>
  
  <div class="information">
    <%=l activity.created_at, :format => :activity %>
  </div>
  
</li>