<li class="event_marked_as_to_go_activity">
  
  <%= image_tag 'calendar--plus.png' %>

  <% if current_user == activity.user_a and current_user == user %>
    <%= raw t('views.activities.you_marked_the_event_as_to_go', { :event => link_to(activity.event.name, [activity.event.venue, activity.event]) }) %>
  <% else %>
    <%= raw t('views.activities.user_a_marked_the_event_as_to_go', { :user_a => link_to(activity.user_a.full_name, activity.user_a), :event => link_to(activity.event.name, [activity.event.venue, activity.event]) }) %>
  <% end %>
  
  <div class="activity_information">
    <%=l activity.created_at, :format => :activity %>
  </div>
  
</li>