<li class="media_file_comment_created activity">
  
  <% if current_user == activity.user_a and current_user == user %>
    <%= raw t('views.activities.youve_commented_media_file', { :media_file => link_to(t('views.activities.media_file'), "#activity_#{activity.id}_media_file_#{activity.media_file_id}", :class => "zoomable"), :type => t("views.activities.#{activity.point_of_interest.type.downcase}"), :point_of_interest => link_to(activity.point_of_interest.name, activity.point_of_interest) }) %>
  <% else %>
    <%= raw t('views.activities.commented_media_file', { :subject => link_to(activity.user_a.full_name, activity.user_a), :media_file => link_to(t('views.activities.media_file'), "#activity_#{activity.id}_media_file_#{activity.media_file_id}", :class => "zoomable"), :type => t("views.activities.#{activity.point_of_interest.type.downcase}"), :point_of_interest => link_to(activity.point_of_interest.name, activity.point_of_interest) }) %>
  <% end %>
  
  <div class="information">
    <%=l activity.created_at, :format => :activity %>
  </div>
  
  <%= render :partial => "activities/hidden_media_file", :locals => { :activity => activity } %>
  
</li>