<li class="point_of_interest_comment_created activity">
  
  <% if current_user == activity.user_a and current_user == user %>
    <%= raw t('views.activities.youve_commented_point_of_interest', { :type => t("views.activities.#{activity.point_of_interest.type.downcase}"), :point_of_interest => link_to(activity.point_of_interest.name, activity.point_of_interest) }) %>
  <% else %>
    <%= raw t('views.activities.commented_point_of_interest', { :type => t("views.activities.#{activity.point_of_interest.type.downcase}"), :point_of_interest => link_to(activity.point_of_interest.name, activity.point_of_interest) }) %>
  <% end %>
  
  <div class="information">
    <%=l activity.created_at, :format => :activity %>
  </div>
  
</li>